.loader {
  position: absolute;
  left: 45vw;
  top: 5vh;
  height: 5vh;
  width: 2.5vw;
  background-color: aqua;
  animation: spin 4s infinite alternate-reverse;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    background-color: black;
  }
  50% {
    background-color: chartreuse;
  }
  75% {
    background-color: coral;
  }
  100% {
    transform: rotate(360deg);
  }
}
.box {
  display: flex;
  flex-direction: row;
}
.square {
  position: relative;
  width: 5vw;
  height: 5vh;
  margin: 5vw;
  background-color: darkgreen;
}
.boll {
  height: 10vh;
  width: 10vw;
  clip-path: circle();
  background-color: darkorange;
  position: relative;
  bottom: 10vh;
  animation: jump 4s infinite alternate-reverse;
}
@keyframes jump{
  0% {
    left: 0;
    bottom: 10vh;
  }
  25% {
    left: 2.5vw;
    bottom: 15vh;
  }
  50% {
    left: 5vw;
    bottom: 20vh;
  }
  75% {
    left: 7.5vw;
    bottom: 15vh;
  }
  100% {
    left: 10vw;
    bottom: 10vh;
  }
}